body {
  background-color: #eee;
}
h1 {
  color: blue;
  padding: 20px;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  padding: 20px;
  font-size: 15px;
}

form {
  font-family: sans-serif;
  padding: 20px
}
